@using System.Dynamic
<FluentAccordionItem Heading="@Title" Expanded="@Details.IsExpanded">
    @foreach (var detail in (IDictionary<string, object>)Details.GroupValue)
    {
        <div>
            <DetailItem Title="@detail.Key" Value="@detail.Value?.ToString()"></DetailItem>
        </div>
    }
</FluentAccordionItem>

@code {
    [Parameter]
    public string Title { get; set; } = "";

    [Parameter]
    public CustomItemGroup Details { get; set; } = new CustomItemGroup();

  
}