
@using HomeAssets.Services
@using HomeAssets.Entities
@using HomeAssets.Components.GlobalComponents
@using HomeAssets.DTOs
@using System.Dynamic
@using System.Reflection
@using System.ComponentModel.DataAnnotations
@inject IItemService ItemService
@rendermode InteractiveServer
<h3>Item Edit</h3>

<FluentCard Width="300px">
<EditForm Model="@item" OnValidSubmit="SaveItem"  id="testform"  >
    <DataAnnotationsValidator />
   <FluentValidationValidator />
    
    <FluentTextField Label="Name" @bind-value="item.Name"></FluentTextField>
    <FluentTextField Label="Description" @bind-value="item.Description"></FluentTextField>
    <FluentTextField Label="Serial Number" @bind-value="item.SerialNumber"></FluentTextField>

<FluentButton Appearance="Appearance.Accent" Type="Microsoft.FluentUI.AspNetCore.Components.ButtonType.Submit"  FormId="testform">Submit</FluentButton>

 </EditForm>

</FluentCard>
 


@code {
   public Item item = new Item();
    
    [Parameter]
    public Guid Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        item = await ItemService.GetItemAsync(Id);
    
    }
    
    //Save model
    private async Task SaveItem()
    {
        await ItemService.UpdateItemAsync(item);
        
    }
    

}